[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
sqlalchemy = "*"
pymysql = "*"
prettytable = "*"
aiohttp = "*"

[dev-packages]
autopep8 = "*"
ipython = "*"
alembic = "*"
sniffer = "*"
pywin32 = {version = "*", sys_platform = "== 'win32'"}
pyinotify = {version = "*", sys_platform = "== 'linux'"}
macfsevents = {version = "*", sys_platform = "== 'darwin'"}

[requires]
python_version = "3.8"

[scripts]
test = "python -m unittest"
watch = "sniffer"
