[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
sqlalchemy = "*"
pymysql = "*"
prettytable = "*"
aiohttp = "*"

[dev-packages]
autopep8 = "*"
ipython = "*"
alembic = "*"

[requires]
python_version = "3.8"

[scripts]
test = "python -m unittest"
